.row
  .columns.center-text
    .panel#dark-panel
      .row
        %h1.text-center
          .white-text
            Robert Monk
        %h3
          .white-text.text-center
            %div
              robert.monk85@gmail.com
            %br
            %div
              www.linkedin.com/in/rmonkjr
            %br
            %div
              www.github.com/virtual-monk

