body {
  margin:0px;
  background-color: black;
  background-image:
  url("");
}

.calendar {
  td {
    width:150px;
    max-width: 150px;
    height:100px;
    max-height: 100px;
  }
}

.scrollable{
  width:140px;
  max-width: 140px;
  height:80px;
  max-height: 80px;
  overflow-y: auto;
  color: blue;
}
#event_show{
  padding-top: 10px;
  margin-top: 50px;
  opacity: 0.5;
}
#map {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  height:600px;
  width:100%;
  background-color:#000;
}
